

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>办公区管理-新增办公区</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/css/element/index.css">
</head>
<script src="/js/base.js"></script>
<body>
<div id="list">
    <el-card  v-loading.fullscreen.lock="loading" class="box-card">
        <div slot="header">
            <span>编辑记录</span>
        </div>
        <el-form :model="formobj" :rules="rules" ref="ruleForm" size="small" label-width="125px">
            <el-form-item label="办公区名称" prop="areaName">
                <el-input
                        type="text"
                        maxlength="15"
                        show-word-limit
                        placeholder="办公区名称"
                        v-model="data.areaName"
                        clearable>
                </el-input>
            </el-form-item>
            <el-form-item label="地址" prop="address">
                <el-input
                        type="text"
                        placeholder="地址"
                        v-model="data.address"
                        clearable>
                </el-input>
            </el-form-item>
            <el-form-item label="经度" prop="longitude">
                <el-input
                        type="text"
                        placeholder="经度"
                        v-model="data.longitude"
                        clearable>
                </el-input>
            </el-form-item>
            <el-form-item label="纬度" prop="latitude">
                <el-input
                        type="text"
                        placeholder="纬度"
                        v-model="data.latitude"
                        clearable>
                </el-input>
            </el-form-item>

        </el-form>
        <div style="height: 70px;">
            <div class="foot">
                <el-button @click="updateOk" type="primary">修改</el-button>
                <el-button @click="clowsview">关闭</el-button>
            </div>
        </div>
    </el-card>


</div>




<script>
    var vm = new Vue({
        el: "#list",
        data: {
            tableData: [],
        },
        mounted: function () {
            this.id = getUrlParameters().id;
            this.list(this.id);
        }, methods: {
            list: function (id) {
                axios({
                    method: 'post',
                    url: '/bangongqu/get',
                    params: {id:id},
                }).then(function (response) {
                    vm.tableData =response.data.data;
                })
            },

            updateOk: function () {
                axios({
                    method: 'post',
                    url: '/bangongqu/get',
                    params:this.tableData,
                }).then(function (response) {
                    vm.tableData =response.data.data;
                })
            },

            clowsview: function () {
                clowsview();
            },
        }
    });
</script>
</body>
</html>