<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>部门管理-新增部门</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/css/element/index.css">
</head>
<script src="/js/base.js"></script>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">新增部门</div>
                <div class="layui-card-body" style="padding: 15px;">

                    <div class="layui-form-item">
                        <label class="layui-form-label">部门名称<span style="color: red">*</span></label>
                        <div class="layui-input-block">
                            <input type="text" name="name" save="true" placeholder="部门名称，15字以内" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">部门领导</label>
                        <div class="layui-input-block" id="lingdao">
                            <el-select
                                    v-model="value"
                                    value-model="name"
                                    filterable
                                    remote
                                    clearable
                                    reserve-keyword
                                    placeholder="请输入名称搜索"
                                    :remote-method="remoteMethod"
                                    v-on:change="changeval()">
                                <el-option
                                        v-for="item in options"
                                        :key="item.id"
                                        :label="item.realName   "
                                        :value="item.id">
                                </el-option>
                            </el-select>
                            <input type="hidden" id="sysUser" name="sysUser.id" save="true" value="0">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">父级部门</label>
                        <div class="layui-input-block" id="parent">
                            <el-select v-model="value" clearable filterable placeholder="请选择">
                                <el-option
                                        v-for="item in options"
                                        :key="item.name"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                            <input type="hidden" v-model="value" name="parentDept.id" save="true" value="0">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit"
                                    onclick="subimitdata('save','/systemdept/saveOK')">保存
                            </button>
                            <a class="layui-btn layui-btn-primary" onclick="clowsview()">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/webView/base/systemdept.js"></script>
<script>
    $(function () {
        selectuser();
        selectparent();
    });
</script>
</body>
</html>